{% extends 'public/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" id="services-page">
    <div class="row mb-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for service in emergency_services %}
            <div class="col">
                <div class="card h-100 mb-3">
                    {% if service.image %}
                        <img src="{{ service.image.url }}" class="card-img-top w-100" alt="{{ service.name }}" />
                    {% endif %}
                    <div class="card-body p-3">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text" id="description-of-service">
                            {{ service.description }}
                        </p>
                        <p class="card-text">
                            <strong>Type:</strong> {{ service.get_service_type_display }}<br>
                            <strong>Location:</strong> {{ service.location }}<br>
                            <strong>Availability:</strong> {% if service.availability %}Available{% else %}Not Available{% endif %}
                        </p>
                    </div>
                    <div class="card-footer p-3">
                        <a href="{% url 'user_single_service' service.id %}" class="btn btn-lg btn-outline-success fs-4">Service Details</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center">No emergency services available at the moment.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}